:root {
  --el-color-primary: #DEB784;
  --el-border-color: #DEB784;
  --el-text-color-regular: #DEB784;
  --el-button-hover-border-color: #DEB784;
  --el-color-primary-light-3:  #E1BE90;
  --el-color-primary-light-5:  #E7CCA8;
  --el-color-primary-light-7: #E7CCA8;
  --el-color-primary-light-8:  #EEDBC1;
  --el-color-primary-light-9:  #F5E9DA;
}
